.formulario__container {
    width: 100%;
    margin: 0;
    padding: 70px 0px;
    background: var(--background-formulario);
}

.formulario__titulo {
    font-size: 2rem;
    margin-bottom: 20px;
}

.formulario__desc {
    color: var(--cinza);
    font-size: 1.2rem;
}

.formulario__corpo {
    display: flex;
    width: 25%;
    justify-content: space-between;
    margin: 20px auto;
}

.formulario__input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--cor-borda-formulario);
    width: 70%;
}

.formulario__botao {
    color: var(--branco);
    border-radius: 8px;
    border: none;
    background-color: var(--vermelho);
    padding: 0 20px;
    cursor: pointer;
}

.copyright {
    color: var(--cinza);
    font-size: 0.9rem;
}

@media screen and (max-width: 1020px) {
    .formulario__container {
        padding: 30px 0;
    }

    .formulario__corpo {
        width: 100%;
        padding: 10px;
    }

    .formulario__input {
        width: 60%;
    }
}