.metricas__lista {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.metricas__item{
    width: 280px;
    max-width: 30%;
    margin: 0 15px 15px 0;
}

.metricas__valor {
    color: var(--vermelho);
    font-size: 4rem;
    font-weight: 600;
}

.metricas__titulo {
    margin: 15px 0;
}

.metricas__descricao {
    color: var(--cinza);
}