.texto__explicativo {
    color: var(--vermelho);
    font-weight: 600;
}

.titulo__principal {
    font-size: 3rem;
    font-weight: bolder;
    margin: 30px 0;
}

.texto__descricao {
    font-size: 1.2rem;
    color: var(--cinza);
    margin: 0 auto;
    width: 80%;
}