@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');

@import url('./reset.css');
@import url('./index.css');
@import url('./header.css');
@import url('./sobre.css');
@import url('./metricas.css');
@import url('./headhunting.css');
@import url('./depoimentos.css');
@import url('./formulario.css');

* {
    box-sizing: border-box;
}

:root{
    --cinza: #667085;
    --branco: #FFFFFF;
    --vermelho: #8E2424;
    font-size: 16px;
}

p {
    text-align: justify;
}

.optimusTech__body {
    font-family: 'Inter', sans-serif;
    background-color: var(--branco);
}

section {
    width: 80%;
    margin: 5% auto;
}

.centralizado {
    text-align: center;
}

@media screen and (max-width: 1020px) {
    :root {
        font-size: 10px;
    }
}