@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');

@import url('./reset.css');
@import url('./index.css');
@import url('./header.css');
@import url('./sobre.css');
@import url('./metricas.css');
@import url('./headhunting.css');
@import url('./depoimentos.css');
@import url('./formulario.css');

* {
    box-sizing: border-box;
}

:root{
    --cinza: #667085;
    --branco: #FFFFFF;
    --vermelho: #8E2424;
    --background-formulario: #F9FAFB;
    --cor-borda-formulario: #D0D5DD;
    font-size: 16px;
}

p {
    text-align: justify;
}

.optimusTech__body {
    font-family: 'Inter', sans-serif;
    background-color: var(--branco);
}

section {
    width: 80%;
    margin: 5% auto;
}

.centralizado {
    text-align: center;
}

@media screen and (max-width: 1020px) {
    :root {
        font-size: 10px;
    }
}

#liberar__conteudo:not(:checked) ~ main > section:not(:target),
#liberar__conteudo:not(:checked) ~ header:not(:target) {
    filter: blur(5px);
}

.liberar__conteudo {
    display: block;
    width: fit-content;
    position: sticky;
    top: 0;
    margin: 10px auto;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: var(--branco);
    background-color: var(--vermelho);
    z-index: 1;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}